body {
    

    background-color: lightblue;
   
}

.code {
    color: rgb(174, 168, 168);
    font-family: "Segoe UI",Arial,sans-serif;
    background-color: rgb(97, 97, 131);
    display: block;
    border-radius: 2px;
}
.codegrey {
    color: rgb(174, 168, 168);
    font-family: "Segoe UI",Arial,sans-serif;



}

h1, h2, h3 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;

}

p {
    font-family: "Segoe UI",Arial,sans-serif;
}

.paragraph {
    width: 1150px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0px 28px 10px 10px;
    position: relative
}
#table{
    position: fixed;
    bottom: 900px;
    right:3000px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 30px 10px 0px;
    font-family: "Segoe UI",Arial,sans-serif;

    
}
#matrix{
    position: absolute;
    top: 25px;
    left: 350px;
    max-width: 800;
    max-height: 40px;
    border-radius: 10px;
}
